/* 	LocalBranding CSS (Contao)/
	Author: (c) LocalBranding 2021
	be-design-bundle
	lb_be_default.css
	Version: 2023-03-11	
*/

/* ------------------------------ ///// FONT-FACE start ///// ------------------------------ */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/lato-v16-latin-regular.woff2') format('woff2'),
    url('../fonts/Lato/lato-v16-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/lato-v16-latin-700.woff2') format('woff2'),
    url('../fonts/Lato/lato-v16-latin-700.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}@font-face {
    font-family: 'Fira Mono';
    src: url('../fonts/FiraMono/fira-mono-v8-latin-regular.woff2') format('woff2'),
    url('../fonts/FiraMono/fira-mono-v8-latin-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Fira Mono';
    src: url('../fonts/FiraMono/fira-mono-v8-latin-700.woff2') format('woff2'),
    url('../fonts/FiraMono/fira-mono-v8-latin-700.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
/* ------------------------------ ///// FONT-FACE end ///// ------------------------------ */

:root{
/* ------------------------------ ///// BE BRANDING LB COLORS FOR CONTAO BACKEND start ///// ------------------------------ */

	/* For creation of design and content-elements of the CONTAO BACKEND in LB Styles */
    
    /* Contao BE Brand Colors / Primary Colors */	
	--cc-cbe-brandcolor1: #ee7100; 
    --cc-cbe-brandcolor2: #2f2f2f; 
    
    /* Contao BE Greytones */
	--cc-cbe-transparent:transparent;
    --cc-cbe-black: #2f2f2f;
    --cc-cbe-darkgrey: #635d5d;
    --cc-cbe-midgrey: #c2c2c2;
    --cc-cbe-lightgrey: #f2f2f2;
    --cc-cbe-white: #ffffff;
/* ------------------------------ ///// BE BRANDING LB COLORS FOR CONTAO BACKEND end ///// ------------------------------ */


/* ------------------------------ ///// FE COLORS FOR STYLING OF CUSTOM ELEMENTS start ///// ------------------------------ */
	
	/* For creation of design and content-elements of the front end */
	/* Similar to color-variables of file lb_variables_default.css for frontend */
    
	/* Brand Colors Primary */
    --cc-brandcolor1: #85bc25; 
    --cc-brandcolor2: #ffcc00;  

	/* Colors layout */
    --cc-bodybackground: #F5F5F5;
  	--cc-navbar: #fff; 
  	--cc-footer: #3f3f3a;

	/* Colors Greytones */
  	--cc-black: #3f3f3a;
  	--cc-darkgrey: #4C4C4C;
  	--cc-midgrey: #635D5D;
  	--cc-lightgrey: #c2c2c2;
  	--cc-white: #fff;

	/* Colors UI */
    --cc-error: #FB4747;
    --cc-success: #A3E82B;
  	--cc-info: #47BEFB;
    --cc-signal: #FB8447;
    --cc-warning: #FBD747;
    --cc-inactive: #9d9d9d;  
	
	/* Colors Content */
  	--cc-contentcolor1: #ffffff;
  	--cc-contentcolor2: #ffffff;
  	--cc-contentcolor3: #ffffff;
  	--cc-contentcolor4: #ffffff;
  	--cc-contentcolor5: #ffffff;
  	--cc-contentcolor6: #ffffff;
  	--cc-contentcolor7: #ffffff;
  	--cc-contentcolor8: #ffffff;
  	--cc-contentcolor9: #ffffff;
  	--cc-contentcolor10: #ffffff;
  		
} 
