body {
	font-family: 'Lato';
}
/* ///// Icons for backend ///// */
#tl_navigation .tl_level_1_group .group-lb_branding {
    background: url(../icons/lb-branding.svg) 3px 2px no-repeat;
    background-size: 16px;
}
#tl_navigation .tl_level_1_group .group-calendar_booking {
    background: url(../icons/location.svg) left center no-repeat;
    background-size: 16px;
}	
#tl_navigation .tl_level_1_group .group-lb_calculation {
    background: url(../icons/calculation.svg) left center no-repeat;
    background-size: 16px;	
}

/* ///// Font-styles ///// */
.widget h3 label {
	font-size: 1rem;
}
a:hover, a:active {
	color: var(--cc-cbe-brandcolor1);
}

/* ///// Sets LB Colors for BACKGROUND in select list ///// */

/* LB Brand Colors / Primary Colors Background */
option[value=bg-lb-brandcolor1] {
    background-color:var(--cc-brandcolor1);
}
option[value=bg-lb-brandcolor2] {
    background-color:var(--cc-brandcolor2);
}

/* LB Greytones Background */
option[value=bg-lb-black] {
    background-color:var(--cc-black);
}
option[value=bg-lb-darkgrey] {
    background-color:var(--cc-darkgrey);
}
option[value=bg-lb-midgrey] {
    background-color:var(--cc-midgrey);
}
option[value=bg-lb-lightgrey] {
    background-color:var(--cc-lightgrey);
}
option[value=bg-lb-white] {
    background-color:var(--cc-white);
}

/* Colors UI Background */
option[value=bg-lb-error] {
    background-color:var(--cc-error);
}
option[value=bg-lb-success] {
    background-color:var(--cc-success);
}
option[value=bg-lb-info] {
    background-color:var(--cc-info);
}
option[value=bg-lb-signal] {
    background-color:var(--cc-signal);
}
option[value=bg-lb-warning] {
    background-color:var(--cc-warning);
}
option[value=bg-lb-inactive] {
    background-color:var(--cc-inactive);
}
	
/* Colors Content Background */
option[value=bg-lb-contentcolor1] {
    background-color:var(--cc-contentcolor1);
}
option[value=bg-lb-contentcolor2] {
    background-color:var(--cc-contentcolor2);
}
option[value=bg-lb-contentcolor3] {
    background-color:var(--cc-contentcolor3);
}
option[value=bg-lb-contentcolor4] {
    background-color:var(--cc-contentcolor4);
}
option[value=bg-lb-contentcolor5] {
    background-color:var(--cc-contentcolor5);
}
option[value=bg-lb-contentcolor6] {
    background-color:var(--cc-contentcolor6);
}
option[value=bg-lb-contentcolor7] {
    background-color:var(--cc-contentcolor7);
}
option[value=bg-lb-contentcolor8] {
    background-color:var(--cc-contentcolor8);
}
option[value=bg-lb-contentcolor9] {
    background-color:var(--cc-contentcolor9);
}
option[value=bg-lb-contentcolor10] {
    background-color:var(--cc-contentcolor10);
}

/* ///// Sets LB Colors for TEXT in select list ///// */
option[value=text-lb-brandcolor1] {
	color: var(--cc-brandcolor1);
}
option[value=text-lb-brandcolor2] {
	color: var(--cc-brandcolor2);
}
option[value=text-lb-black] {
	color: var(--cc-black);
}
option[value=text-lb-darkgrey] {
	color: var(--cc-darkgrey);
}
option[value=text-lb-midgrey] {
	color: var(--cc-midgrey);
}
option[value=text-lb-lightgrey] {
	color: var(--cc-lightgrey);
}
option[value=text-lb-white] {
	color: var(--cc-white);
}
option[value=text-lb-error] {
    background-color:var(--cc-error);
}
option[value=text-lb-success] {
    background-color:var(--cc-success);
}
option[value=text-lb-info] {
    background-color:var(--cc-info);
}
option[value=text-lb-signal] {
    background-color:var(--cc-signal);
}
option[value=text-lb-warning] {
    background-color:var(--cc-warning);
}
option[value=text-lb-inactive] {
    background-color:var(--cc-inactive);
}
option[value=text-lb-contentcolor1] {
    background-color:var(--cc-contentcolor1);
}
option[value=text-lb-contentcolor2] {
    background-color:var(--cc-contentcolor2);
}
option[value=text-lb-contentcolor3] {
    background-color:var(--cc-contentcolor3);
}
option[value=text-lb-contentcolor4] {
    background-color:var(--cc-contentcolor4);
}
option[value=text-lb-contentcolor5] {
    background-color:var(--cc-contentcolor5);
}
option[value=text-lb-contentcolor6] {
    background-color:var(--cc-contentcolor6);
}
option[value=text-lb-contentcolor7] {
    background-color:var(--cc-contentcolor7);
}
option[value=text-lb-contentcolor8] {
    background-color:var(--cc-contentcolor8);
}
option[value=text-lb-contentcolor9] {
    background-color:var(--cc-contentcolor9);
}
option[value=text-lb-contentcolor10] {
    background-color:var(--cc-contentcolor10);
}

/* ///// Sets LB Colors for TEXT HOVER in select list ///// */
option[value=hover-lb-brandcolor1] {
	color: var(--cc-brandcolor1);
}
option[value=hover-lb-brandcolor2] {
	color: var(--cc-brandcolor2);
}
option[value=hover-lb-black] {
	color: var(--cc-black);
}
option[value=hover-lb-darkgrey] {
	color: var(--cc-darkgrey);
}
option[value=hover-lb-midgrey] {
	color: var(--cc-midgrey);
}
option[value=hover-lb-lightgrey] {
	color: var(--cc-lightgrey);
}
option[value=hover-lb-white] {
	color: var(--cc-white);
}

/* ///// Sets LB Colors for Buttons in select list ///// */
option[value=button1] {
	background-color: var(--cc-brandcolor1);
}
option[value=button2] {
	color: var(--cc-brandcolor1);
	border: solid 1px var(--cc-brandcolor1);
}
option[value=button3] {
	color: var(--cc-white);
	border: solid 1px var(--cc-white);
	background-color: var(--cc-midgrey);
}
option[value=button4] {
	background-color: var(--cc-black);
	color: var(--cc-white);
}
/* Secondary Button colors */
option[value=button-error] {
    background-color:var(--cc-error);
}
option[value=button-success] {
    background-color:var(--cc-success);
}
option[value=button-info] {
    background-color:var(--cc-info);
}
option[value=button-signal] {
    background-color:var(--cc-signal);
}
option[value=button-warning] {
    background-color:var(--cc-warning);
}
option[value=button-inactive] {
    background-color:var(--cc-inactive);
}

/* Content Button colors */
option[value=button-contentcolor1] {
    background-color:var(--cc-contentcolor1);
}
option[value=button-contentcolor2] {
    background-color:var(--cc-contentcolor2);
}
option[value=button-contentcolor3] {
    background-color:var(--cc-contentcolor3);
}
option[value=button-contentcolor4] {
    background-color:var(--cc-contentcolor4);
}
option[value=button-contentcolor5] {
    background-color:var(--cc-contentcolor5);
}
option[value=button-contentcolor6] {
    background-color:var(--cc-contentcolor6);
}
option[value=button-contentcolor7] {
    background-color:var(--cc-contentcolor7);
}
option[value=button-contentcolor8] {
    background-color:var(--cc-contentcolor8);
}
option[value=button-contentcolor9] {
    background-color:var(--cc-contentcolor9);
}
option[value=button-contentcolor10] {
    background-color:var(--cc-contentcolor10);
}

/* basics body, container etc.*/
body {
	background: #000 radial-gradient(var(--cc-cbe-darkgrey),var(--cc-cbe-black));
	color: var(--cc-black);
}
#header .inner {
	background: var(--cc-cbe-brandcolor1);
}
/*    spätere Bearbeitung !!!
#header {
	min-height: 60px;
}
#header .inner {
	background: var(--cc-cbe-white);
	height: 60px;
}
#header .inner h1 {
	display:none;
}
#header .inner .lb-logo {
	height: 60px;
	width: 225px;
	background-color: var(--cc-cbe-white);
	background-image: url('files/theme_lb_de/img/logo/Logo.svg');
	background-repeat: no-repeat; 
	position: absolute;
}
@media only screen and (max-width: 970px) {
	#container {
		padding-top:60px;
	}
}
*/
#container #left {
	background: var(--cc-cbe-black);
}
#container #left .version, #container #left .version a {
	background: var(--cc-cbe-black);
	color: var(--cc-lightgrey);
} 
#tl_navigation .menu_level_1 li,
#container #left #tl_navigation .tl_level_2 li {
    border-left: 4px solid var(--cc-cbe-black);
}
#tl_navigation .menu_level_1 li.current,
#container #left #tl_navigation .tl_level_2 li.active {
    background: var(--cc-cbe-black);
    border-left-color: var(--cc-cbe-brandcolor1);
}
#container #left #tl_navigation .tl_level_2 a {
    color: var(--cc-cbe-lightgrey);
}
#main .content {
	margin:0;
	padding:20px;
}
#main .content fieldset {
	border-bottom: solid 1px var(--cc-cbe-midgrey);
}
#main .content fieldset .rsce_list_inner fieldset {
	border-bottom: 0;
}

/* ///// Formates LB subheadingss in select lists ///// */
option[value=sh-01], option[value=sh-02], option[value=sh-03], option[value=sh-04], option[value=sh-05], 
option[value=sh-06], option[value=sh-07], option[value=sh-08], option[value=sh-09], option[value=sh-10]  {
	color: var(--cc-cbe-brandcolor1);
	font-weight: 700;
	font-style: italic;
}
option[value=sh-00] {
	font-weight: 700;
	font-style: italic;
}

/* Backend, avoids overlay class long over class w50 */  
.long {
	float:left;
}
.tl_textarea {
	min-height: 5rem;		
}
.tl_version_panel {
	background: transparent;
}
/* group headlines inside lists / fieldsets */
.rsce_list_item .rsce_list_item_title {
	padding: 20px 15px;
	background-color: var(--cc-cbe-darkgrey);
	color:var(--cc-cbe-white);
	font-size: 18px;
}
fieldset.tl_box legend {
	padding-bottom:12px;	
}
.rsce_list_item .rsce_list_toolbar {
    margin-top: 11px!important;
    margin-right: 10px!important;
    padding: 8px;
    background-color: var(--cc-cbe-white);
}
.rsce_list_inner .rsce_list_toolbar  {
	background: transparent;    
}
/* Second level list */
.rsce_list_inner .rsce_list_inner .rsce_list_item {
	padding-bottom: 30px;
	background-color: transparent;
	border: none;
	width: 96%;
}
.rsce_list_inner .rsce_list_inner .rsce_list_item h2.rsce_list_item_title  {
	background-color: var(--cc-cbe-lightgrey);
	color: var(--cc-cbe-black);
	height: 20px;
}
.rsce_list_inner .rsce_list_inner .rsce_list_item .rsce_list_toolbar {
	top:4px;
	background-color:transparent;
}
.rsce_list_inner .rsce_list_inner .rsce_list_item .tl_box {
	border: 0;
}
.rsce_list_inner .rsce_list_inner .rsce_list_item .tl_box .w50.widget {
	min-height: 60px;
}
.rsce_list_inner .rsce_list_inner .rsce_list_item .tl_box .w50.widget h3 {
	padding-top: 4px;
}
.tl_tbox, .tl_box { /* nach oben ???? zeile 335*/
    padding: 0;
    border: none;
    padding-bottom: 20px;
   /*  border-bottom: solid 1px var(--cc-cbe-midgrey); */
}
.tl_submit_container {
	background: var(--cc-cbe-white);
	padding-top:20px;
	border-top: solid 1px var(--cc-cbe-midgrey);
}
button#save.tl_submit, button#saveNclose.tl_submit, button#saveNcreate.tl_submit, 
button#saveNduplicate.tl_submit, button#saveNback.tl_submit, button#saveNedit.tl_submit {
	margin-right: 5px;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	height: 40px;
	text-align: center;	
	min-width: 160px;
	padding: 0 10px 4px;
	transition: all 0.2s cubic-bezier(.72,.28,.33,.93);
	border-radius: 2px;
	text-overflow: ellipsis;
	border: solid 2px var(--cc-cbe-brandcolor1);
}
button#save.tl_submit {
	background-color: var(--cc-cbe-brandcolor1);
	color: var(--cc-white);
}
button#saveNcreate.tl_submit, button#saveNduplicate.tl_submit, button#saveNback.tl_submit, button#saveNclose.tl_submit, button#saveNedit.tl_submit {
	background-color: var(--cc-cbe-transparent);
	color: var(--cc-cbe-brandcolor1);
}
button#save.tl_submit:hover {
	background-color: var(--cc-cbe-white);
	color: var(--cc-cbe-brandcolor1);
}
button#saveNcreate.tl_submit:hover, button#saveNclose.tl_submit:hover, button#saveNedit.tl_submit:hover,
button#saveNduplicate.tl_submit:hover, button#saveNback.tl_submit:hover {
	background-color: var(--cc-cbe-brandcolor1);
	color: var(--cc-cbe-white);
}
/* to proove
button#saveNclose.tl_submit {
	border-radius: 2px 0 0 2px;
	border-right: 0;
}
*/
button#sbtog {
	height: 40px;
	line-height:33px;
	border: solid 2px var(--cc-cbe-brandcolor1);
	border-left: 0;
}
/* SPECIAL RULES FOR RSCEs */
/* Width of Logo Image for // rsce_lb_nav_header_config.php */
#pal_rsce_legend #sort_rsce_field_image li {
	text-align:left;	
}
#pal_rsce_legend #sort_rsce_field_imageLogo img.gimage {
	width:24rem;
	margin-bottom: 0.4rem;
	text-align:left;
	height: auto;	
}
/* modal boxes - not yet done (darkgrey background 
.simple-modal-body {}
*/


